.generated-schedules-page {
  font-family: "Inter", Arial, sans-serif;
}

.generated-schedules-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% - 530px);
  margin-left: 220px;
  margin-right: 310px;
  padding: 20px;
}

.schedule-option {
  margin-top: 20px;
  width: 80%;
  max-width: 800px;
  transition: opacity 0.5s ease-in-out;
}

.schedule-option h2 {
  margin-bottom: 10px;
}

.schedule-option p {
  margin-bottom: 10px;
}

.schedule-option table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.schedule-option th,
.schedule-option td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

.schedule-option th {
  background-color: #f2f2f2;
}

.schedule-option button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
}

.schedule-option button:hover {
  background-color: #0056b3;
}

.generated-schedule-day-table tr:nth-child(n + 4) td:nth-child(1) {
  color: red;
  font-weight: bold;
}

.carousel-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow: hidden;
}

.carousel-arrow {
  position: absolute;
  top: 100px;
  transform: translateY(-50%);
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
  width: 50px;
  height: 50px;
}

.carousel-arrow:hover {
  background-color: #0056b3;
}

.left-arrow {
  left: 10px;
}

.right-arrow {
  right: 10px;
}

.timetable-hide {
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;
}

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px; /* Adjust height as needed */
}

.loading-gif {
  width: 50px; /* Adjust width as needed */
  height: 50px; /* Adjust height as needed */
  margin-bottom: 10px;
}
