.home-page {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: Arial, sans-serif;
}

.home-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.home-header h1 {
  font-size: 2rem;
  color: #333;
}

.home-header button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.home-header button:hover {
  background-color: #0056b3;
}

.home-body {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 20px;
}

.timetable-container {
  width: 70%;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.selected-courses-container {
  width: 30%;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
  background-color: #f9f9f9;
  margin-top: 20px;
}

.selected-courses-container h2 {
  margin-bottom: 10px;
  font-size: 1.5rem;
  color: #333;
}

.selected-courses-container select {
  margin-top: 5px;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.selected-course-item {
  margin-bottom: 20px;
}

.selected-course-item h3 {
  margin: 0;
}

.selected-course-item select {
  margin-right: 10px;
}

.selected-course-item button {
  padding: 5px 10px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.selected-course-item button:hover {
  background-color: #d32f2f;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0;
  z-index: 1000;
}

.logo-placeholder {
  color: white;
  font-size: 20px;
  margin-left: 20px;
}

.nav-links {
  display: flex;
  gap: 10px;
  margin: 10px;
}

.nav-links button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  margin-right: 20px;
  cursor: pointer;
  border-radius: 4px;
}

.nav-links button:hover {
  background-color: #45a049;
}

.header {
  margin: 100px 0 0 0;
}
