.timetable {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

.timetable th,
.timetable td {
  border: 1px solid #ccc;
  padding: 10px;
  width: 100px;
}

.timetable .timeslot {
  background-color: #add8e6;
  color: #000;
  font-size: 12px;
}
